<article class="post">
  <div class="post-head">  
    <div class="title">
      <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
      Publicado por {{user.username}} em {{format_date created_at}} | 
      {{comments.length}} {{format_plural "comentário" comments.length}}
    </div>
  </div>
  <div class="post-text">
    {{post_text}}
  </div>
</article>